
.row
  .large-12.columns
    / Desktop Slider
    #slider
      = image_tag @promoted_pics.first.image_url.to_s if @promoted_pics.any?
    / End Desktop Slider
    / Mobile Header
    .row
      .small-12.show-for-small
        %br/
        -if @promoted_pics.any?
          %img{:src => @promoted_pics.first.image_url(:thumbbig).to_s}/
    / End Mobile Header
%br/
.row
  .large-12.columns
    .row
      / Thumbnails
      - @albums.each do |album|
        .large-3.small-6.columns
          %a{:href => album_pictures_path(album)}
            %img{:src => album.albumthumbnail_url(:thumbsmal).to_s}/
          %h6.panel
            = album.description
      / End Thumbnails
/ End Content
- slider = escape_javascript(render 'shared/slider')
- content_for :scripts do
  :javascript
    $("#slider").replaceWith("#{slider}");
    $(document).foundation();