.large-6.small-6.columns
  %img{:src => picture.image_url(:thumbbig).to_s}
  .panel
    =link_to "Edit", edit_album_picture_path(@album, picture)
    =link_to "Destroy", [@album, picture], :method => :delete, :data => { :confirm => 'Are you sure?' }
    %h6
      = picture.description