/ Footer
%footer.row
  .large-12.columns
    %hr/
    .row
      .large-6.columns
        %p &copy; Copyright David Elvers 2013
      .large-6.columns
        %ul.inline-list.right
          %li
            =link_to "Admin", admin_path
          %li
            %a{:href => "#"} Impressum
          %li
            %a{:href => "#"} About

/ End Footer