%nav.top-bar
  %ul.title-area
    / Title Area
    %li.name
      %h1
        %a{:href => "/"}
          Gallery On Rails

    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span menu
  
  %section.top-bar-section
    / Left Buttons
    %ul.left
      %li
        %a{:href => "#"} Start
      %li
        %a{:href => "#"} Albums
    / Right Buttons
    %ul.right
      -if logged_in?
        %li
          =link_to "Logout", logout_path
      -else
        %li
          =link_to "Login", login_path, remote: true